*, :after, :before{
	font-family: 'Poppins', sans-serif;

	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-color: #ffffff;
	overflow-y: scroll;
}

img{
	width: 40px;
	height: auto;
}

.header__nav li, a{
	font-size: 13px;
	font-weight: 600;
	cursor: pointer;
	color: #000000;
	text-decoration: none;
}

.header__nav{
	display: flex;
	background-color: #fff;
	justify-content: flex-end;
	align-items: center;
	padding: 25px 18%;
	height: 100px;
	margin: 0px auto;
	position: sticky;
	top: 0px;
	opacity: .98;
}

.div__principal1{
	display: inline-block;
	width: 100%;
}

.div__principal{
	display: inline-block;
	float: left;
	padding-left: 18%;
	padding-bottom: 100px;
	font-size: 35px;
	margin: 0px auto;
}

.div__principal h1{
	background-image: linear-gradient(83.84deg, #0088FF -6.87%, #A033FF 26.54%, #FF5C87 58.58%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width: 440px;
}

.div__principal p{
	font-size: 16px;
	line-height: 25px;
	width: 440px;
	font-weight: 400;
	margin: -10px 0 38px;
}

.div__menu--input{
	background-color: rgba(0, 0, 0, 0.04);
	display: block;
	font-size: 15px;
	height: 36px;
	width: 320px;
	border: none;
	border-radius: 10px;
	margin-bottom: 12px;
	padding: 8px 16px;
}

.div__login--input{
	background-color: #0084ff;
	color: #ffffff;
	cursor: pointer;
	height: 44px;

	border: none;
	border-radius: 24px;
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 12px;
	margin-top: 20px;
	padding: 2px 20px 0px;
}

.div__login a{
	display: inline-block;
	color: #0a7cff;
	font-size: 12px;
	line-height: 15px;
	font-weight: 500;
	margin-left: 5px;
	text-decoration: underline;
}

.div__menu--chkboxlabel{
	display: inline-block;
	font-size: 13px;
	font-weight: 300;
	padding-left: 2px;
	margin: 25px 0 20px;
	text-align: left;
}

.div__socialmedia{
	margin-top: 10px;
}

.div__socialmedia img{
	height: 44px;
	width: auto;
}

.logo{
	cursor: pointer;
	margin-right: auto;
}

.nav__links{
	list-style: none;
}
.chkbox {
    padding-left: 10px;
    font-weight: bold;
}

.nav__links li{
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li a:after{
	content: " ";
  	display: block;
  	width: inherit;
  	height: .23em;
  	background-color: rgb(0, 120, 200);
  	border-radius: 10px;
  	margin: 3px;
  	opacity: 0;
	-webkit-transition: all .1s;
	transition: all .1s;
}

.nav__links li a:hover:after{
	opacity: 1;
}

#loginbutton{
	border: 2px solid #0084ff;
	transition: all 0.2s;
}

#loginbutton:hover{
	background-color: #0030ff;
	border-color: #0030ff;
}

#loginbutton:active{
	opacity: 0.3;
	border: 2px solid #0080ff;
}

#chkbox-login{
	display: inline-block;
	color: #606770;
	width: 15px;
	height: 15px;
}

.div__imgprincipal{
	justify-content: flex-start;
}

.div__imgprincipal img{
	display: inline-block;
	margin-top: 83px;
	margin-right: 16%;
	float: right;
	width: 598px;
	height: auto;
}

.footer_container{
	height: 65px;
	background-color: blue;
}

.footer_div__principal{
	display: flex;
	background-color: #fff;
	justify-content: flex-end;
	align-items: center;
	padding: 25px 16%;
	height: 65px;
	margin: 0px auto;
}

.footer_div__nametag{
	font-size: 12px;
	font-weight: 600;
}

.footer_div__text{
	font-size: 12px;
	font-weight: 400;
	padding-left: 6px;
	padding-right: 25px;
	margin-right: auto;
}

.footer_div__text a{
	font-size: 12px;
	font-weight: 400;
	padding: 0px 25px;
	cursor: pointer;
}

.footer_div__text::after{
	content: ' ';
}

.footer_div__lang{
	font-size: 12px;
	font-weight: 400;
	padding: 0px 10px;
	margin-right: auto;
}

.footer_div__img img{
	width: 150px;
	height: auto;
	padding-left: 0px;
}