:root{
    --black: #000;
    --notblack: #0F0F0F;
    --yellow: #F5BC1A;
    --yellowhover: #EDAF32;
    --white: #F5F5F5;
    --bodyfont: 'Dela Gothic One', 'Chathura', sans-serif;
    --paragraphfont: 'Chathura', sans-serif;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: var(--bodyfont);
    font-weight: 500;
    color: var(--black);
    background-color: var(--white);
    width: 100%;
    cursor: default;
}
#wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}
h1 {
    font-size: 50px;
}
.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 990;
}
.initialpart {
    z-index: 999;
}
.nav_logo img {
    width: 280px;
    height: auto;
}
.nav_list ul {
    display: flex;
}
.nav_list ul li {
    margin-right: 20px;
}
.nav_list ul li a {
    color: var(--notblack);
    font-size: 17px;
}
.nav_list ul li a:hover {
    color: var(--yellow);
}
.nav_list ul li:hover {
    cursor: pointer;
}
.ip_whatami, .ip_whatamiimg {
    display: flex;
    width: 100%;
    height: auto;
}
.ip_whatami {
    justify-content: center;
    z-index: 100;
}
.ip_whatamiimg {
    justify-content: flex-start;
    z-index: 10;
}
.ip_whatamiimg:nth-child(2) {
    justify-content: flex-end;
}
.ip_whatami img {
    position: absolute;
    z-index: 11;
}
#wbdev {
    margin-left: 40px;
}
#grapdes {
    margin-right: 40px;
}
.s_blob {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.lanameblob {
    display: flex;
    position: absolute;
    z-index: 10;
    justify-content: center;
}
.mblobani {
    display: flex;
    position: absolute;
    justify-content: center;
}
#lamain {
    width: 80%;
    height: auto;
}
.laperdiar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 180px;
    font-size: 55px;
}
.laperdiar h1 {
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 700px;
}
.messagelaper {
    background-color: var(--yellow);
    display: block;
    overflow: hidden;
    position: absolute;
    padding-left: 1rem;
    left: 280px;
    animation: openclose 5s ease-in-out infinite;
}
.bsdsocialmedia {
    display: flex;
    font-family: var(--paragraphfont);
    width: 100%;
    font-weight: 600;
    font-size: 60px;
    justify-content: space-between;
}
#bsdperu {
    margin: 65px 0px 0px 20px; 
}
#bsdperuline {
    position: absolute;
    content: ' ';
    background-color: var(--black);
    width: 1px;
    height: 0;
    transform: translateX(0px) translateY(80px);
    animation: linestretch 2s infinite;
}
.bsdsm {
    display: inherit;
    flex-direction: row;
}
#inisocialmedia {
    margin: 120px 20px 0px 0px;
}
#inisocialmedia a {
    color: var(--notblack);
}
#inisocialmedia a:hover {
    color: var(--yellow)
}
.smsm::after {
    height: 1px;
    margin-top: -20px;
    position: absolute;
    display: block;
    align-items: center;
    content: ' ';
    background-color: var(--black);
}
.smsm:hover:after {
    background-color: var(--yellow);
}
.smig::after {
    width: 125px;
}
.smtwt::after {
    width: 77px;
    margin-left: 140px;
}
.smgthb::after {
    width: 77px;
    margin-left: 235px;
}
.aboutpart, .skillandexp, .contactpart, .phrasepart{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
#aboutitles {
    display: flex;
    align-items: baseline;
    width: 70%;
    justify-content: space-around;
}
.abttitles {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 60px 0px 0px 0px;
}
.abttitles p{
    font-family: var(--paragraphfont);
    font-size: 50px;
    font-weight: 500;
    line-height: 0.6;
}
span.wordcol1{
    transition: all 0.25s ease;
}
span.wordcol1:hover{
    color: var(--yellow);
    font-size: 53px;
}
.phrasepart{
    margin-top: 20px;
}
#phraseyellow{
    background-color: var(--yellow);
    width: 90%;
    height: 80px;
}
#phrasewrap {
    display: flex;
    background-color: var(--yellow);
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    width: 90%;
    height: 650px;
    justify-content: center;
}
#phrasephrase {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
}
#phrasephrase{
    margin-top: -180px;
}
#phrasep1{
    font-size: 60px;
}
#phrasep2{
    margin-top: 10px;
    color: var(--notblack);
    transition: transform 0.5s;
}
.wordcol{
    color: var(--white);
    transition: all 0.25s;
}
.wordcol:hover{
    color: #007bff;
    font-size: 35px;
}
#birdiblytitlesline {
    position: absolute;
    content: ' ';
    background-color: var(--black);
    width: 1px;
    height: 0px; 
    margin-left: 7em;
    margin-top: 25px;
    animation: linestretch1 3s infinite;
}
.birdiblytitles img{
    width: 80px;
    height: auto;
}
#bdbphraseline {
    position: absolute;
    content: ' ';
    background-color: var(--black);
    width: 1px;
    height: 180px;
    max-height: 180px;
    transform: translateX(-210px) translateY(10px);
    animation: linestretch 3s infinite;
    overflow: hidden;
}
#abouttext {
    display: flex;
    width: 100%;
    justify-content: center;
}
#aboutphrase {
    display: flex;
    align-items: baseline;
    width: 50%;
    justify-content: space-around;
}
#abtpharse p {
    font-size: 50px;
    font-weight: 500;
    width: 55%;
    line-height: 0.6;
}
.bdbphrase img {
    transform: translateX(-48px) translateY(48px);
    width: 80px;
    height: auto;
}
.abttext {
    margin: 20px 0px 0px 0px;
    width: 48%;
}
.abttext p{
    font-size:22px;
    text-align: left;
    text-justify: inter-word;
}
.aboutimgsep{
    display: flex;
    width: 100%;
    height: 350px;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 30px;
}
.abtbdb{
    position: absolute;
    height: 50px;
    width: auto;
}
.skillandexp{
    margin-top: 120px;
    text-align: center;
}
.sandpabove, .contactpabove{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#sandpphoto{
    border-radius: 50%;
    margin: 10px 0px;
}
#sandpphoto img{
    margin: 10px;
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: 5px solid var(--white);
    box-shadow: 0 0 0px 5px var(--yellow);
}
#sandexp_skills {
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;
    justify-content: center;
}
.lineskills{
    position: absolute;
    content: ' ';
    background-color: var(--black);
    width: 50%;
    height: 1px;
    display: flex;
}
.l1{
    transform: translateX(50%) translateY(-30px);
}
.l2{
    transform: translateX(-50%) translateY(215px);
}
#sandexp_exp{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.exp_container {
    display: flex;
    padding: 10px 50px;
    flex-direction: row;
    margin: 0px 10px;
}
.exp_card {
    margin: 0px 10px;
}
.exp_container .exp_card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 350px;
    background: var(--yellow);
    border-radius: 20px;
    transition: all 0.5s;
}
.exp_container .exp_card:hover{
    height: 400px;
}
.exp_card__img{
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: var(--notblack);
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}
.exp_card__img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.exp_container .exp_card:hover .exp_card__img{
    top: -100px;
    scale: 0.75;
}
.exp_card__cont{
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0 30px;
    height: 30px;
    overflow: hidden;
    text-align: left;
    transition: 0.5s;
}
.exp_card:hover{
    margin-top: 80px;
}
.exp_card__cont h2{
    font-size: 1.5em;
}
.exp_card__cont a{
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background: var(--clr);
    color:var(--white);
    text-decoration: none;
    border-radius: 8px;
}
.exp_container .exp_card:hover .exp_card__cont{
    top: 130px;
    height: 250px;
}
.skillsgrid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    gap: 12px 15px;
    text-align: center;
}
.skillselem {
    display: flex;
    background-color: var(--yellow);
    padding: 10px;
    border: 3px solid var(--white);
    box-shadow: 0 0 0px 4px var(--yellow);
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    transition: all 0.3s;
}
.skillselem span {
    display: none;
    transition: all 0.3s ease-in;
    position: absolute;
    bottom: 82px;
    opacity: 0;
    background-color: var(--white);
    border: 1px solid var(--yellow);
    box-shadow: 0 0 0px 1px  var(--yellow);
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
}
.skillselem:hover {
    transform: scale(1.1);
    background-color: var(--white);
    border: 3px solid var(--yellow);
    box-shadow: 0 0 0px 4px var(--white);
    border-radius: 10%;
}
.skillselem:hover span {
    display: flex;
    opacity: 1;
}
.skillselem img {
    width: 60px;
    height: auto;
}
.skillselem:hover img{
    color: var(--yellow);
    filter: invert(90%) sepia(13%) saturate(7344%) hue-rotate(346deg) brightness(100%) contrast(93%);
}
#contactptitle {
    margin: 25px 0px 15px 0px;
}
.contactform{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}
.contactformreal{
    width: 40%;
}
.contactformreal form{
    width: 100%;
    max-width: 600px;
}
.contactinput{
    margin-bottom: 30px;
    position: relative;
}
input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    font-family: var(--bodyfont);
    color: var(--notblack);
    background: var(--yellow);
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0.5px;
    letter-spacing: 0.5px;
    border: none;
    border-radius: 15px;
    resize: vertical;
}
#message{
    background: var(--white);
    color: var(--notblack);
    border: solid 1px var(--yellow);
}
#messagetext{
    color:var(--yellow);
}
label{
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    padding: 10px;
    color: var(--white);
    cursor: text;
    transition: 0.2s;
    font-size: 15px;
}
#sandexp_exp_body{
    font-family: var(--paragraphfont);
    font-size: 50px;
    line-height: 0.6;
}
/*.contactformreal button {
    padding: 15px 50px;
    color: rgb(255 253 249);
    background-color: rgb(245, 188, 26);
    border: 3px solid rgb(245, 245, 245);
    box-shadow: rgb(245, 188, 26) 0px 0px 0px 4px;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    place-content: center;
    transition: all 0.3s ease 0s;
    font-family: 'Dela Gothic One', var(--paragraphfont);
    font-size: 16px;
    }*/
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 14px;
    color:var(--yellow)
}
.formrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.formrow .contactinput{
    flex-basis: 48%;
}
#bdbabt1 {
    transform: translateX(-190px) translateY(500px);
    transition: transform .3s ease-out;
}
#bdbabt2{
    height: 60px;
    width: auto;
    transform: translateX(-40px) translateY(420px);
    transition: transform .55s ease-out;
}
#bdbabt3{
    -webkit-transform: translateX(180px) translateY(450px) scaleX(-1);
    transform: translateX(180px) translateY(450px) scaleX(-1);
    transition: transform .4s ease-out;
}
#bdbabt4{
    transform: translate(0px, 100px) scale(1.5);
    margin-bottom: 30px;
    transition: all 0.2s;
}
#bdbabt4:hover{
    transform: translate(0px, 100px) scale(1.6);
}
#mpabt{
    max-width: 100%;
    object-fit: contain;
    margin-top: 260px;
    filter: contrast(130%);
}
#abtcircle{
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: var(--yellow);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.blankspace{
    display: flex;
    height: 300px;
}
#contactways {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
}
.contactpart {
    display: flex;
}
#contactlist {
    display: block;
    margin-top: 5px;
    width: 20%;
}
#contactsocialmedia {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.contactitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 300;
}
.contactitem:hover{
    scale: 1.15;
    filter: invert(90%) sepia(13%) saturate(7344%) hue-rotate(346deg) brightness(100%) contrast(93%);
}
.contactitem p:hover{
    color: var(--yellow);
}
.contactemail{
    align-items: center;
}
.contactitem i{
    font-size: 40px;
    color: var(--yellow);
    padding: 5px;
}
.contactitem p {
    font-size: 15px;
    color: var(--notblack);
    transition: all 0.1s;
    line-height: 2.2;
    margin-left: 5px;
    margin-top: 7px;
}
.contactemail a {
    display: flex;
    flex-direction: row;
}
.circles-container, .lines-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -10;
}
.circlesback {
    position: absolute;
    background: var(--yellowhover);
    border-radius: 100%;
    pointer-events: none;
    -ms-filter: blur(35px);
    filter: blur(35px);
    transition: all .5s ease-out;
    animation: pulse 5s ease-in-out infinite alternate;
}
#scrollToTopBtn {
    position: fixed;
    bottom: 10%;
    right: 3%;
    z-index: 99;
    background-color: var(--yellowhover);
    color: white;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    padding: 30px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
#cv-download {
    position: fixed;
    bottom: 20%;
    left: 3%;
    z-index: 99;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    padding: 15px;
    transition: opacity .25s ease-out;
    transition: bottom 0.3s ease;
}
#cv-download::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/images/CV1.png) no-repeat center;
    background-size: cover;
    filter: invert(1);
    z-index: -3;
    animation: 8s linear infinite infrotate;
    cursor:default;
}
#cv-download a {
    background: var(--yellow);
    border: 1px solid var(--yellow);
    border-radius: 100%;
    color: #fff;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: block;
    transition: all 0.5s;
}
#cv-download a:hover {
    background: var(--yellowhover);
    border: 1px solid var(--yellowhover);
    font-size: 33px;
}
#cv-download a{
    width: 105px;
    height: 105px;
    line-height: 105px;
}
.birdiblypng{
    transition: all 0.2s;
}
.birdiblypng:hover{
    transform: scale(1.2);
}
.birdiblypng1{
    transition: all 0.2s;
}
.birdiblypng1:hover{
    transform: translateX(-48px) translateY(48px) scale(1.2);
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes infrotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
.c1{
    width: 400px;
    height: 400px;
    left: -10%;
    top: 840px;
}
.c2{
    width: 600px;
    height: 600px;
    left: 85%;
    top: 1280px;
}
.c3{
    width: 700px;
    height: 700px;
    left: -18%;
    top: 1800px;
}
.c4{
    width: 700px;
    height: 700px;
    left: 80%;
    top: 3400px;
    z-index: -10;
}

.lanameblob {
    animation: entrancebomb 1.2s ease;
}
.mblobani {
    animation: bounce 2s ease, chungus .65s ease;
}

.hidden, .hidden1{
    opacity: 0;
    filter: blur(2px);
    transition: all 1s;
}
.hidden{
    transform: translateX(-10%);
}
.hidden1{
    transform: translateX(10%);
}
.hiddenleft, .hiddenright{
    opacity: 0;
    transition: all 0.7s;
}
.hiddenleft{
    transform: translateX(100%) translateY(-30px);
}
.hiddenright{
    transform: translateX(-100%) translateY(320px);
}
.showleft, .showright{
    opacity: 1;
}
.showleft{
    transform: translateX(50%) translateY(-30px);
}
.showright{
    transform: translateX(-50%) translateY(320px);
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
@media screen and (max-width: 768px) {
    h1{
        font-size: 25px;
    }
    .nav_logo img {
        width: 220px;
        height: auto;
    }
    .nav_list ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: 38vh;
        background-color: var(--yellow);
        z-index: 20;
        opacity: 0;
        box-shadow: var(--black);
        transition: all 0.1s;
        box-shadow: 0px 10px 29px -23px var(--black);
    }
    .nav_list ul.show {
        display: flex;
        opacity: 1;
    }
    .nav_list ul li {
        width: 100%;
        /* margin: 20px 0px; */
        padding: 21px 25px;
        text-align: left;
        background-color: var(--yellow);
        border: solid 1px var(--yellowhover);
    }
    .nav_list ul li:last-child {
        border-bottom: none;
        margin-bottom: 0px;
    }
    .nav_list ul li a{
        color: var(--white);
        font-size: 17px;
        letter-spacing: 1.5px;
    }
    .mobile-menu {
        display: block;
        cursor: pointer;
    }
    .bar {
        width: 30px;
        height: 3px;
        background-color: var(--notblack);
        margin: 6px 0;
        transition: 0.4s;
    }
    .ip_whatami{
        display: flex;
        justify-content: center;
    }
    .s_blob{
        height: 67vh;
        overflow: hidden;
    }
    .mblobani{
        height: 550px;
        width: 550px;
        animation: bouncemob 2s ease;
    }
    .laperdiar{
        margin-top: -10px;
    }
    .laperdiar h1 {
        display: flex;
        font-weight: 100;
        line-height: 1.5;
        width: 295px;
        font-size: 20px;
        justify-items: center;
        align-items: center;
    }
    .messagelaper {
        background-color: var(--yellow);
        display: block;
        overflow: hidden;
        position: absolute;
        padding-left: 0.5rem;
        left: 120px;
        animation: openclosemob 4s ease-in-out infinite;
    }
    #phraseyellow {
        height: 30px;
    }
    #phrasewrap {
        height: 150px;
    }
    #phrasephrase {
        margin-top: -68px;
    }
    #phrasep1{
        font-size: 20px;
    }
    #phrasep2{
        font-size: 10px;
    }
    .wordcol:hover {
        color: #007bff;
        font-size: 12px;
    }
    #lamain{
        width: 58%;
        height: auto;
    }
    #wbdev{
        width: 150px;
        margin-left: 10px;
    }
    #grapdes{
        width: 150px;
        margin-right: 10px;
    }
    .laper_typewrite{
        margin-top: -10px;
        font-size: 22px;
        color:var(--notblack);
    }
    .bsdsocialmedia{
        font-size: 30px;
    }
    #inisocialmedia{
        margin: 60px 20px 0px 0px;
    }
    #bsdperu{
        margin: 25px 0px 0px 20px; 
    }
    .smsm::after{
        margin-top: -10px;
    }
    .smig::after{
        width: 62px;
    }
    .smtwt::after{
        margin-left: 70px;
        width: 40px;
    }
    .smgthb::after{
        margin-left: 117px;
        width: 40px;
    }
    #bsdperu::after{
        height: 100px;
        animation: linestretchmob 2s infinite;
    }
    .birdiblytitles{
        margin-right: 40px;
    }
    .birdiblytitles img{
        width: 45px;
        height: auto;
    }
    #aboutitles {
        justify-content: space-between;
        width: 100%;
    }
    .abttitles {
        margin: 20px 0px 0px 40px;
    }
    .wordcol1{
        font-size: 40px;
        line-height: 1;
    }
    span.wordcol1:hover{
        font-size: 45px;
        color: var(--yellow);
    }
    .abttitles p{
        font-size: 34px;
        margin-top: 3px;
    }
    #abouttext{
        width: 88%;
    }
    .abttext {
        margin-top: 20px;
        width: 85%;
    }
    .abttext p{
        font-size: 12px;
        line-height: 1.6;
    }
    .birdiblytitles::after{
        height: 315px;
        margin-left: 15px;
        margin-top: 30px;
    }
    .aboutimgsep{
        width: 300px;
        height: 160px;
        margin-top: 10px;
    }
    .abtbdb{
        position: absolute;
        height: 50px;
        width: auto;
    }
    #bdbabt1 {
        transform: translateX(60px) translateY(150px);
    }
    #bdbabt2{
        height: 60px;
        width: auto;
        transform: translateX(100px) translateY(150px);
    }
    #bdbabt3{
        -webkit-transform: translateX(180px) translateY(150px) scaleX(-1);
        transform: translateX(180px) translateY(150px) scaleX(-1);
    }
    #mpabt{
        max-width: 100%;
        object-fit: contain;
        margin-top: 80px;
        filter: contrast(130%);
    }
    #abtcircle{
        width: 150px;
        height: 150px;
    }
    #abtpharse{
        margin-top: 15px;
    }
    #abtpharse p{
        display: flex;
        font-size: 25px;
        width: 60%;
        text-align: left;
    }
    #abtpharse::after{
        height: 100px; 
        margin-left: 200px;
        margin-top: 80px;
    }
    #aboutphrase{
        display: flex;
        width: 100%;
    }
    .bdbphrase img {
        transform: translateX(-60px) translateY(38px);
        width: 45px;
        height: auto;
    }
    #bdbphraseline {
        max-height: 80px;
        transform: translateX(-85px) translateY(30px);
    }
    .hiddenright{
        transform: translateX(-100%) translateY(395px);
    }
    .showright{
        transform: translateX(-50%) translateY(395px);
    }
    #sandpphoto img{
        width: 180px;
        height: auto;
    }
    .skillandexp{
        margin-top: 35px;
    }
    .skillselem span {
        bottom: 50px;
        font-size: 13px;
        border-radius: 10px;
        padding: 2px 10px 2px 10px;
    }
    .exp_container {
        flex-direction: column;
        padding: 0;
    }
    .exp_card {
        margin-bottom: 20px;
    }
    .contactformreal{
        width: 90%;
    }
    label{
        font-size: 15px;
    }
    .blankspace{
        height: 30px;
    }
    #contactlist {
        width: 85%;
    }
    .circlesback {
        -ms-filter: blur(20px);
        filter: blur(20px);
        z-index: -2;
    }
    .c1{
        width: 160px;
        height: 160px;
        left: -20%;
        top: 590px;
    }
    .c2{
        width: 300px;
        height: 300px;
        left: 90%;
        top: 770px;
    }
    .c3{
        width: 180px;
        height: 180px;
        left: -30%;
        top: 1280px;
    }
    .c4{
        width: 150px;
        height: 150px;
        left: 85%;
        top: 2300px;
    }
    .contactpart{
        margin-bottom: 100px;
    }
    @keyframes linestretchmob {
        0%{height: 0%;}
        50%{height: 100px;}
        100%{height: 0%;}
    }
    #sandptitle{
        width: 80%;
    }
    #scrollToTopBtn {
        bottom: 5%;
        right: 5%;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        font-size: 25px;
        padding: 25px;
    }
    #cv-download {
        bottom: 3%;
        left: 3%;
        border-radius: 50%;
        font-size: 20px;
        cursor: pointer;
        padding: 10px;
        position: fixed;
        opacity: 0;
        box-sizing: border-box;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    #cv-download a {
        border: 1px solid var(--yellow);
        border-radius: 100%;
        color: #fff;
        text-align: center;
        text-decoration: none;
        display: block;
        transition: all 0.5s;
    }
    #cv-download a {
        width: 65px;
        height: 65px;
        line-height: 60px;
    }
    #sandexp_exp_body{
        font-size: 30px;
        line-height: 0.8;
        margin-bottom: 15px;
    }
    #sandexp_exp{
        margin-bottom: 0;
    }
    #contactptitle{
        margin: 10px 0px 15px 0px;
    }
    .skillselem img {
        width: 25px;
        height: auto;
    }
    .skillsgrid{
        grid-template-columns: auto auto auto auto auto;
        gap: 13px 14px;
    }
}
/* Estilos para versiones de escritorio */
@media screen and (min-width: 769px) {
    .nav {
        display: flex;
        color: var(--notblack);
    }
    .mobile-menu {
        display: none;
    }
    #mainblob{
        width: 100vh;
        height: auto;
    }
    .aboutpart{
        align-items: center;
    }
    .abtimgsep{
        display: flex;
        justify-content: center;
        width: 70%;
    }

}
@keyframes cursor {
    50% { border-color: transparent; }
}
@keyframes typing {
    0%{width:0%}
    33.33%{width:100%}
    100%{width:100%}
}
@keyframes linestretch {
    0%{height: 0%;}
    50%{height: 250px;}
    100%{height: 0%;}
}
@keyframes linestretch1 {
    0%{height: 0%;}
    50%{height: 420px;}
    100%{height: 0%;}
}
@keyframes chungus {
    0%{transform: scale(100);}
    100%{transform: scale(1);}
}
@keyframes bounce {
    0% {transform: scale(1) translateY(0)}
    10% {transform: scale(1.2,.9);}
    30% {transform: scale(.8,1.1) translateY(-50px)}
    50% {transform: scale(1.2,.9);}
    70% {transform: scale(1) translateY(0);}
    100% {transform: translateY(0);}
}
@keyframes bouncemob {
    0% {transform: scale(1.15,1);}
    10% {transform: scale(1.2,1.05);}
    30% {transform: scale(.8,1.1)}
    50% {transform: scale(1.2,1.05);}
    70% {transform: scale(1);}
    100% {transform: translateY(0);}
}
@keyframes entrancebomb {
    0%{transform: scale(20%);}
    30%{transform: scale(1.1);}
    50%{transform: scale(1);}
    70%{transform: scale(1.1);}
    100%{transform: scale(1);}
}
@keyframes entrance {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 430px;
    }
    30% {
      top: 0.2rem;
      width: 430px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
    }
    48% {
      top: -4.5rem;
      width: 585px;
    }
    62% {
      top: -4.5rem;
      width: 585px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 585px;
    }
    95% {
      top: -9rem;
      width: 585px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }
@keyframes openclosemob {
    0% {
      top: 0.1rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 200px;
    }
    30% {
        top: 0.1rem;
        width: 200px;
    }
    33% {
      top: 0.1rem;
      width: 0;
    }
    35% {
      top: 0.1rem;
      width: 0;
    }
    38% {
      top: -1.85rem;
    }
    48% {
      top: -1.85rem;
      width: 200px;
    }
    62% {
      top: -1.85rem;
      width: 200px;
    }
    66% {
      top: -1.85rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -3.7rem;
      width: 0;
    }
    86% {
        top: -3.7rem;
        width: 200px;
    }
    95% {
      top: -3.7rem;
      width: 200px;
    }
    98% {
      top: -3.7rem;
      width: 0;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
}
